.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__item {
       padding: 5px 10px;
       cursor: pointer;
       margin-left: 5px;
    }
    &__item.active {
       background-color: $mainYellow;
       border-radius: 5px;
    }
}

