<div class="login">
    <div class="login-form">
        <div class="login-form__title">Вход</div>
        <div class="login-form__inputs">
            <div class="text-field" style="margin-bottom: 20px;">
                <span class="text-field__title">Логин</span>
                <input v-model="form.login" class="text-field__input" type="text"/>
            </div>
            <div class="text-field" style="margin-bottom: 20px;">
                <span class="text-field__title">Пароль</span>
                <input v-model="form.password" class="text-field__input" type="password"/>
            </div>
        </div>
        <div class="login-form__button">
            <button @click="login" class="common-btn" :class="{'disabled' : !isValid}">Вход</button>
        </div>
    </div>
</div>